# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

#### PUBLIC ####

#DIRECTORIES

public/directories/*
!public/directories/publicDirectories
public/directories/publicDirectories/*
!public/directories/publicDirectories/.gitkeep



#USER PROFILE IMAGES
public/userProfileImages/*
!public/userProfileImages/.gitkeep





# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#src/thirdPartyLicenses.json
