@media screen and (max-width:1200px) {
  .settingsMain .settingsContent .themeContainer:nth-child(2)>div {
    width: 100%;
  }
}

.storageChartWrapper {
  justify-content: space-between;
}

@media screen and (max-width:1100px) {
  .storageChartWrapper {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .settingsMain {
    padding: 30px;
  }

  .settingsMain .settingsNavigation {
    width: 25%;
  }

  .settingsMain .settingsNavigation div.tabSelector {
    width: 100%;
    font-size: 15px;
  }

  .settingsMain .settingsNavigation div.tabSelector div.svg {
    width: 30px;
    height: 30px;
  }

  .settingsMain .settingsContent .wallpaperWrapper {
    width: 150px;
    height: 100px;
  }
}

@media screen and (max-width:1000px) {
  aside {
    align-items: center;
    padding-top: 20px;
    width: 80px;
  }

  aside .containIcon {
    display: none;
  }

  aside button {
    width: 85%;
    padding: 7px;
  }

  aside span {
    display: none;
  }

  .pathNavMobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pathNavMobile .directoryNav {
    width: 90%;
  }

  main.filesMain nav {
    gap: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main.filesMain nav .fileActions {
    margin-left: 0;
  }

  main.filesMain nav .navWrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  main.filesMain nav .navWrapper .inputWrapper {
    width: unset;
    flex: 0.8;
  }

  main.filesMain nav>button:first-of-type {
    display: none !important;
  }

  main.filesMain nav>.directoryNav {
    display: none;
  }

  main.filesMain nav span.fileActions {
    height: 40px;
  }

  .mainDiv {
    padding: 0;
  }

  .mainDiv .filesMain .upperContainer {
    padding: unset;
  }

  main.filesMain {
    padding: 50px;
  }

  main.filesMain .filesDisplayer {
    box-sizing: border-box;
    padding: 20px 40px;
    width: 100%;
  }
}

@media screen and (max-width:800px),
screen and (max-height:600px) {

  aside,
  main,
  div.controlPanel {
    border-radius: 0;
  }

  div.controlPanel .controlPanelDisplayer nav {
    gap: 10%;
  }

  div.controlPanel .controlPanelDisplayer div.usersMain {
    max-width: unset;
  }

  div.controlPanel .cpanelTabContainer .detailsView.open {
    max-width: unset;
  }

  div.controlPanel .cpanelTabContainer .detailsView .actions {
    width: 150px;
  }

  main.filesMain nav .navWrapper .inputWrapper {
    flex: 1;
  }

  main.filesMain {
    padding: 30px;
  }

  .mainDiv {
    background-color: var(--darkColor);
  }

  .mainDiv .homeMain .loginForm,
  .mainDiv .homeMain .registerForm {
    background-color: transparent;
  }

  .mainDiv .homeMain .controlPanel {
    animation: var(--animationPreset2);
    background-color: transparent;
  }

  .mainDiv .homeMain .mainPanelHome {
    overflow: unset;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    animation: var(--animationPreset2);
    background-color: transparent;
  }

  .mainDiv main {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  main.filesMain .filesDisplayer {
    padding: 0;
    column-gap: 30px;
    justify-content: center;
  }

  .settingsMain .settingsNavigation {
    width: 150px;
    padding: 10px;
  }

  .settingsMain .settingsNavigation div.tabSelector {
    width: 100%;
  }

  .settingsMain .settingsNavigation span {
    font-size: 15px;
  }

  .storageChartWrapper {
    flex-direction: column;
  }

  .controlPanel .controlPanelDisplayer .plugins .top,
  .controlPanel .controlPanelDisplayer .plugins .description {
    width: 100%;

  }

  .controlPanel .controlPanelDisplayer .plugins .plugin {
    width: 100%;
  }

  .controlPanel .controlPanelDisplayer .plugins .plugin span {
    font-size: 15px;
  }

  .controlPanel .controlPanelDisplayer .plugins .plugin img {
    height: 50px;
  }

  .controlPanel .controlPanelDisplayer .plugins .plugin .actions img {
    height: 30px;
  }

  @media screen and (max-width:600px) {
    #root {
      flex-direction: column-reverse;
    }

    .fileButton {
      width: 65px;
    }

    .fileButton .fileColorDiv,
    .fileButton img {
      height: 50px;
    }

    .fileButton span {
      font-size: 15px;
    }

    .settingsMain h2 {
      font-size: 30px !important;
    }

    .settingsMain h3 {
      font-size: 27px !important;
    }

    .settingsMain span {
      font-size: 16px !important;
    }

    .settingsMain .settingsNavigation {
      width: fit-content;
      padding: 0;
    }

    .settingsMain .settingsNavigation span {
      display: none;
    }

    .settingsMain .settingsContent {
      padding: 0 30px;
    }

    .settingsMain .settingsContent .themeSelector button {
      width: 40px;
      height: 40px;
    }

    main.filesMain {
      padding-bottom: 0;
    }

    main.filesMain nav button:not(.directoryNav button, .pathNavMobile button) {
      width: 30px;
      height: 30px;
      padding: 0;
    }

    main.filesMain nav .navWrapper {
      flex-direction: column;
      gap: 20px;
      margin-top: 0;
    }

    main.filesMain nav .navWrapper .inputWrapper {
      flex: unset;
      height: 30px;
      width: unset;
    }

    main.filesMain nav .navWrapper span.fileActions {
      flex-wrap: wrap;
      height: unset;
    }

    main.filesMain nav .navWrapper span.fileActions img {
      min-height: unset !important;
    }

    main.filesMain nav .navWrapper span.fileActions img {
      height: 100%;
    }

    main.filesMain nav .navWrapper span.fileActions .bin img {
      height: 90%;
    }

    main.filesMain nav .pathNavMobile button:not(.directoryNav button) {
      width: 37px;
    }

    main.filesMain nav .pathNavMobile .directoryNav button {
      padding: 10px;
      font-size: 15px;
    }

    aside {
      height: 80px;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 10px;
      gap: 20px;
    }

    aside button {
      width: 50px;
    }

    nav .directoryNav {
      overflow-x: auto;
      scrollbar-width: none;
    }

    main.filesMain .displayerContainer {
      display: flex;
      overflow: auto;
    }

    main.filesMain .filesDisplayer {
      column-gap: 30px;
    }

    .mainDiv {
      padding: 0;
      height: 1%;
      width: 100%;
    }

    .mainDiv main {
      height: 100%;
    }

    .settingsMain .settingsNavigation div.tabSelector {
      width: fit-content;
    }

    .homeMain {
      overflow: auto;
      scrollbar-width: none;
      box-sizing: border-box;
    }

    .homeMain .editPanel .row {
      width: 80%;
    }

    .homeMain .editPanel .row:nth-of-type(1) {
      width: fit-content;
    }

    .homeMain .editPanel input:not([type='color']),
    .homeMain .editPanel label {
      width: 130px;
      font-size: 15px;
    }

    .homeMain .editPanel>input:last-of-type {
      font-size: 20px;
    }

    .homeMain .editPanel .goBackButton {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .homeMain .controlPanel {
      padding-bottom: 0;
    }

    .homeMain .controlPanel .controlPanelDisplayer {
      padding: 0;
    }

    .controlPanel .controlPanelDisplayer .plugins .plugin img {
      width: fit-content;
    }

    .controlPanel .controlPanelDisplayer .plugins .plugin .actions button {
      width: 40px;
    }

    .controlPanel .controlPanelDisplayer .plugins .plugin .actions img {
      height: 27px;
    }
  }

  @media screen and (max-width:400px) {
    main.filesMain {
      padding: 10px 20px 0;
    }

    .controlPanel .controlPanelDisplayer .plugins .top img {
      height: 75%;
    }
  }
}

@media screen and (max-height:600px) {
  .homeMain {
    align-items: unset;
  }

  .homeMain .editPanel {
    height: 100%;
    overflow: auto;
    padding: 20px 0;
    width: 100%;
  }

  .homeMain .editPanel .avatarContainer {
    display: none;
  }

  .homeMain .editPanel .row:nth-of-type(1) {
    display: none;
  }

  .homeMain .editPanel .row:nth-of-type(2) {
    display: none;
  }

  .homeMain .editPanel .tabSelector {
    justify-content: center;
    column-gap: 20px;
    width: 70%;
    flex-direction: row;
  }

  .homeMain .editPanel .tabSelector .userAvatar {
    margin-bottom: 0;
  }

  .homeMain .editPanel .tabSelector .userAvatar .avatarContainer {
    width: 100px;
    height: 100px;
  }

  .homeMain .editPanel .tabSelector button,
  .homeMain .editPanel .tabSelector span {
    font-size: 16px;
  }

  .homeMain .editPanel .tabSelector button img,
  .homeMain .editPanel .tabSelector span img {
    width: 35px;
    height: 35px;
  }

  .homeMain .settingsMain h2 {
    font-size: 30px !important;
  }

  .homeMain .settingsMain h3 {
    font-size: 27px !important;
  }

  .homeMain .settingsMain span {
    font-size: 16px !important;
  }
}