@media screen and (max-width:1200px) {
    .settingsMain {
        .settingsContent {
            .themeContainer:nth-child(2) {
                >div {
                    width: 100%;
                }
            }
        }
    }
}


.storageChartWrapper {
    justify-content: space-between;
}

@media screen and (max-width:1100px) {
    .storageChartWrapper {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .settingsMain {
        padding: 30px;

        .settingsNavigation {
            width: 25%;

            div.tabSelector {
                width: 100%;
                font-size: 15px;

                div.svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .settingsContent {
            .wallpaperWrapper {
                width: 150px;
                height: 100px;
            }
        }
    }

}

@media screen and (max-width:1000px) {
    aside {
        align-items: center;
        padding-top: 20px;
        width: 80px;

        .containIcon {
            display: none;
        }

        button {
            width: 85%;
            padding: 7px;
        }

        span {
            display: none;
        }

    }

    .pathNavMobile {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .directoryNav {
            width: 90%;
        }
    }

    main.filesMain nav {
        gap: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .fileActions {
            margin-left: 0;
        }

        .navWrapper {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;

            .inputWrapper {
                width: unset;
                flex: 0.8;
            }
        }

        &>button:first-of-type {
            display: none !important;
        }

        &>.directoryNav {
            display: none;
        }

        span.fileActions {
            height: 40px;
        }
    }

    .mainDiv {
        padding: 0;
    }

    main.filesMain {
        padding: 30px;

        .filesDisplayer {
            box-sizing: border-box;
            padding: 20px 40px;
            width: 100%;
        }
    }

}

@media screen and (max-width:800px),
screen and (max-height:600px) {

    aside,
    main,
    div.controlPanel {
        border-radius: 0;

        .controlPanelDisplayer {
            nav {
                gap: 10%;
            }

            div.usersMain {
                max-width: unset;
            }
        }

        .cpanelTabContainer {
            .detailsView.open {
                max-width: unset;
            }

            .detailsView .actions {
                width: 150px;
            }
        }
    }

    main.filesMain nav {
        .navWrapper {
            .inputWrapper {
                flex: 1;
            }
        }
    }

    .mainDiv {
        background-color: var(--darkColor);

        .homeMain {

            .loginForm,
            .registerForm {
                background-color: transparent;
            }


            .controlPanel {
                animation: var(--animationPreset2);
                background-color: transparent;
            }

            .mainPanelHome {
                overflow: unset;
                padding-top: 20px;
                width: 100%;
                height: 100%;
                animation: var(--animationPreset2);
                background-color: transparent;
            }
        }

        main {
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }

    main.filesMain {

        .filesDisplayer {
            padding: 0;
            column-gap: 30px;
            justify-content: center;
        }
    }

    .settingsMain {
        .settingsNavigation {
            width: fit-content;
            padding: 10px;

            div.tabSelector {
                width: 100%;
            }

            span {
                font-size: 15px;
            }
        }
    }

    .storageChartWrapper {
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {


    #root {
        flex-direction: column-reverse;
    }

    .fileButton {
        width: 65px;

        .fileColorDiv,
        img {
            height: 50px;
        }

        span {
            font-size: 15px;
        }
    }

    .settingsMain {
        h2 {
            font-size: 30px !important;
        }

        h3 {
            font-size: 27px !important;
        }

        span {
            font-size: 16px !important;
        }

        .settingsNavigation {
            padding: 0;

            span {
                display: none;
            }
        }

        .settingsContent {
            padding: 0 30px;

            .themeSelector {
                button {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    main.filesMain {
        padding-bottom: 0;

        nav {

            button:not(.directoryNav button, .pathNavMobile button) {
                width: 30px;
                height: 30px;
                padding: 0;
            }

            .navWrapper {
                flex-direction: column;
                gap: 20px;
                margin-top: 0;

                .inputWrapper {
                    flex: unset;
                    height: 30px;
                    width: unset;
                }

                span.fileActions {
                    flex-wrap: wrap;
                    height: unset;

                    img {
                        min-height: unset !important;
                    }

                    img {
                        height: 100%;
                    }

                    .bin {
                        img {
                            height: 90%;
                        }
                    }
                }
            }

            .pathNavMobile {
                button:not(.directoryNav button) {
                    width: 37px;
                }

                .directoryNav {
                    button {
                        padding: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    aside {
        height: 80px;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
        gap: 20px;

        button {
            width: 50px;
        }
    }

    nav {
        .directoryNav {
            overflow-x: auto;
            scrollbar-width: none;
        }
    }

    main.filesMain {
        .displayerContainer {
            display: flex;
            overflow: auto;
        }

        .filesDisplayer {
            column-gap: 30px;
        }
    }

    .mainDiv {
        padding: 0;
        height: 1%;
        width: 100%;

        main {
            height: 100%;
        }
    }

    .settingsMain {
        .settingsNavigation {
            div.tabSelector {
                width: fit-content;
            }
        }
    }

    .homeMain {
        overflow: auto;
        scrollbar-width: none;
        box-sizing: border-box;

        .editPanel {
            .row {
                width: 80%;
            }

            .row:nth-of-type(1) {
                width: fit-content;
            }

            input:not([type='color']),
            label {
                width: 130px;
                font-size: 15px;
            }

            >input:last-of-type {
                font-size: 20px;
            }

            .goBackButton {
                margin-top: 0;
                margin-bottom: 15px;
            }
        }

        .controlPanel {
            padding-bottom: 0;

            .controlPanelDisplayer {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width:400px) {

    main.filesMain {
        padding: 10px 20px 0;

    }
}

/*
*
*
**/
@media screen and (max-height:600px) {
    .homeMain {
        align-items: unset;

        .editPanel {
            height: 100%;
            overflow: auto;
            padding: 20px 0;
            width: 100%;

            .avatarContainer {
                display: none;
            }

            .row:nth-of-type(1) {
                display: none;
            }

            .row:nth-of-type(2) {
                display: none;
            }

            .tabSelector {
                justify-content: center;
                column-gap: 20px;
                width: 70%;
                flex-direction: row;

                .userAvatar {
                    margin-bottom: 0;

                    .avatarContainer {
                        width: 100px;
                        height: 100px;
                    }
                }

                button,
                span {
                    font-size: 16px;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }

        .settingsMain {
            h2 {
                font-size: 30px !important;
            }

            h3 {
                font-size: 27px !important;
            }

            span {
                font-size: 16px !important;
            }
        }
    }
}